.app-container {
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    padding-top: 15px;
}

.directory-title {
    text-align: center;
    font-size: 28px ;
}

.directory-list {
    margin: 20px 15px;
}

.list-items {
    outline: none;
    border: 1px solid brown;
    border-radius: 5px;
    margin: 12px 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
a {
    text-decoration: none;    
}